html{
    background-color:#1f1f1f ;   
    color: white;
}
body {
    background-color: #1f1f1f;
    margin: 0;
}

.navbar {
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;

    position: sticky;
    align-items: center;

    background-color: black;
}


.logo {
    grid-column: 1 / 2;
}

.nav-box1 {
    grid-column: 4 / 5;
}

.nav-box2 {
    grid-column: 5 / 6;
}

.nav-box3 {
    grid-column: 6 / 7;
}

.login {
    grid-column: 8 / 9;
    justify-self: end;
}

.login a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 42px;

    color: white;
    background: #1f1f1f;
    border: 1px solid #555;
    border-radius: 8px;

    text-decoration: none;
    font-weight: bold;

    transition: 0.2s;
}

.login a:hover {
    background: #2c2c2c;
    border-color: white;
}